@charset "utf-8";

.carManage .carList ul li {display:flex; padding:25px 0 30px; border-bottom:var(--line);}
.carManage .carList ul li .carImg {width:92px; margin-right:20px;}
.carManage .carList ul li .carImg img {width:92px; height:72px;}
.carManage .carList ul li .carInfo {width:calc(100% - 112px); margin-top:4px;}
.carManage .carList ul li .carInfo span {display:block; font-size:13px; color:var(--subTxtColor); line-height:13px;}
.carManage .carList ul li .carInfo span.carName {margin-bottom:10px; font-size:15px; font-weight:600; color:#222; line-height:15px;}
.carManage .carList ul li .carInfo span.carNum {margin-bottom:15px; letter-spacing:0;}
.carManage .carList ul li .carInfo span.carUser {font-weight:500;}
.carManage .carList ul li .carInfo span.carUser em {font-style:normal; color:var(--mainColor);}
.carManage .carList ul li .carInfo span.carUser em::before {content:''; display:inline-block; width:1px; height:9px; margin:0 5px 2px 2px; vertical-align:middle; background:#c7c7c7;}

.carSummary {width:calc(100% + 40px); margin-left:-20px; padding:15px 20px; background:var(--bgGray);}
.carSummary .shadowBox {margin-bottom:0; box-shadow:none;}

.carDetail {width:calc(100% + 40px); height:165px; margin:0 0 0 -20px; padding:20px; background:var(--mainGradient);}
.carDetail > div {position:relative; width:100%; height:125px; padding:0 20px; background:#fff; border-radius:10px;}
.carDetail .ownCarDesc {position:absolute; left:20px; bottom:30px;}
.carDetail .ownCarDesc li {display:table; height:26px; line-height:26px; margin-bottom:10px; padding:0 12px; font-size:13px; color:#222; border:1px solid #c7c7c7; border-radius:13px;}
.carDetail .ownCarDesc li:last-child {margin-bottom:0;}
.carDetail .ownCarDesc li .value {padding-left:5px; font-weight:500;}
.carDetail .carModelPhoto {right:20px; bottom:25px;}

.separate {padding:35px 0 20px;}
.separate h2 {margin-bottom:15px;}
.separate .repairService {display:flex; font-weight:500;}
.separate .repairService + .repairService {border-top:var(--line);}
.separate .repairService dt {width:30%; padding-top:12px;}
.separate .repairService dd {width:70%; text-align:right;}
.separate .repairService dd a {display:block; position:relative; padding:12px 20px 12px 0; color:#222;}
.separate .repairService dd a::after {content:''; position:absolute; top:50%; right:-6px; width:10px; height:18px; margin-top:-9px; background: url("../../img/common/arrow_accordion_default.svg") no-repeat 0 0 / 10px auto; -webkit-transform:rotate(-90deg); -ms-transform:rotate(-90deg); transform:rotate(-90deg);}
.separate .repairService dd span {color:var(--mainColor);}

.carNothing .btnSolid {margin:35px 0 15px;}
.bannerArea {border-top:0;}

.tableFormType.horizonType + .tableFormType.horizonType {margin-top:15px;}
.tableFormType.horizonType li {position:relative; width:32%; padding:0;}
.tableFormType.horizonType li:first-child {width:36%;}
.tableFormType.horizonType li + li::before {content:''; position:absolute; left:0; top:50%; width:1px; height:38px; margin-top:-19px; background:var(--lineGray);}
.tableFormType.horizonType li .property {height:27px; padding-top:9px; font-size:11px; color:var(--subTxtColor); line-height:13px;}
.tableFormType.horizonType li:last-child .property {padding-top:0;}
.tableFormType.horizonType li .value {margin-top:5px; font-size:11px;}
.tableFormType.horizonType li .value .numBig {font-size:21px;}

.mileage .period {font-weight:500;}
.mileage .period p {display:inline-block;}
.mileage .period button {width:15px; height:21px; margin-left:10px; text-indent:-9999px; background:url(../../img/sub/ico_calendar.png) no-repeat 0 0 / 15px auto;}

.efficiency h2 span {float:right; padding-top:10px; font-size:11px; font-weight:normal; color:var(--subTxtColor);}

.graphWrap .graphContent {clear:both; margin-top:20px;}

.safeDrive .shadowBox {display:flex;}
.safeDrive .shadowBox .score, .safeDrive .shadowBox .exemplary {width:50%;}
.safeDrive .shadowBox .score {text-align:center;}
.safeDrive .shadowBox .score span {display:block; font-size:17px;}
.safeDrive .shadowBox .score span em {font-size:40px; font-weight:bold; font-style:normal;}
.safeDrive .shadowBox .score .rank {margin-bottom:7px; font-size:15px; color:var(--subTxtColor);}
.safeDrive .shadowBox .exemplary {padding-left:25px; border-left:var(--line);}
.safeDrive .shadowBox .exemplary dl {display:flex;}
.safeDrive .shadowBox .exemplary dl + dl {margin-top:5px;}
.safeDrive .shadowBox .exemplary dl dt {width:50%; color:var(--subTxtColor);}
.safeDrive .shadowBox .exemplary dl dd {width:50%; text-align:right;}