@charset "utf-8";

.pageDesc {
  margin: 25px 0;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 500;
}

/* 텍스트 리스트 - 알림페이지 */
.textList li {
  min-height: 95px;
  padding: 25px 20px;
  border-top: var(--line);
  font-size: 13px;
}
.textList .category {
  padding-right: 5px;
}
.textList .date {
  margin-top: 7px;
  color: var(--subTxtColor);
  letter-spacing: 0;
}
.textList .date .time {
  padding-left: 8px;
}
.icoNew::before {
  top: -2px;
  right: -25px;
}
